html {
  box-sizing: border-box;  
  scroll-behavior: smooth;
}

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { 
  box-sizing: inherit;
}

:root {
  --accent-color: #028ec9;
  --accent-translucent: #028ec9cc;
  --font-color: #555;
  --tech-color: #00bb38;
  --tech-background-color: #00bb38aa;
  --hover: #ffffff11;
  --background: white;

  --font-xs: .8em;
  --font-s: 1em;
  --font-m: 1.3em;
  --font-l: 1.6em;
  --font-xl: 2em;
  --font:"Rubik", sans-serif;
}

.dark-mode{
  --background-color: ;
  --accent-color: #028ec9;
  --accent-translucent: #028ec9cc;
  --font-color: white;
  --tech-color: #42F577;
  --tech-background-color: #42F577aa;
  --background: #252525;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--background);

  /* background-image: radial-gradient(farthest-corner at 40px 40px, var(--main-color) -70%, var(--background) 70%); */
  /* height: 100vh; */
  /* height: 90vh; */
  margin: 0 24px;
  color: var(--font-color);
  font-family: var(--font);
  font-size: var(--font-s);
  line-height: 1.5;
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: var(--accent-color) var(--font-color);   /* scroll thumb and track */ 
}

.hidden {
  opacity:0;
}

.italic{
  font-style: italic;
}

.console-container {
  display:block;
  margin:auto;
}

.console-underscore {
  color: var(--accent-color);
  display: inline-block; 
  position: relative; 
  /* left: 10px; */
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 8px;
}

a{
  text-decoration: none;
  color: var(--font-color);
}

.page-up{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: var(--font-xl);
  i{
    color: var(--tech-background-color);
  }
}

@keyframes up-move{
  100%{
    transform-origin: right;
    transform: translateY(-20px);
  }
}

.page-up:hover{
  animation: up-move 1s ease forwards;
  i{
    color: var(--font-color);
  }
}

#navBar{  
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid #55555533;
  width: 100vw;
  padding: 16px;
  font-weight: 600;
  z-index:99;
  a{
    padding-left: 48px;
  }
}

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}

.nav-buttons{  
  display: flex;
  flex-direction: row;
}

.navlinks>a:hover{
  color: var(--accent-color);
}

.navlinks_mobile{
  display: none;
  flex-direction: row;
  justify-content: end;
  padding-left: 48px;
}


#toggle{
  border: none;
  font-size: var(--font-m);
  color: var(--font-color);
  background-color: var(--background);
  padding-left: 48px;
}

#toggle:hover{
  color: var(--accent-color);
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 24px;
  padding-top: 48px;
  max-width: 960px;
  width: 70%;
}

.section-title{
  font-family: "sarala", sans-serif;
  font-weight: 600;
  font-size: var(--font-m);
  padding-bottom: 24px;
}

#home{
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.intro{
  width: 50%;
}

.name{  
  color: var(--font-color);
  font-size: var(--font-l);
  font-weight: 600;
}

.image-container{
  display: flex;
  margin: 16px;
  width: 50%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  overflow-y: hidden;
}

.me{
  display: flex;
  align-items: center;
  width: 100%;
}

.project-image{
  width: 150px;
  height: 150px;
  margin-right: 16px;  
  border-radius: 50%;
}

.project{
  display: flex;
  margin-bottom: 40px;   
  padding: 16px;
  border-radius: 8px;
}

.project-title-container{
  display: flex;
  flex-direction: column;  
  font-weight: 600;
  .project-title{
    font-size: var(--font-m);
  }
}

.project:hover{
  .project-title-container{
    color: var(--accent-color);
    a{
      color: var(--accent-color);
    }    
  }
}

.tech-stack{
  display: flex;
  flex-wrap: wrap;
}

.tech-stack > span{
  color: var(--font-color);
  background-color: var(--tech-background-color);
  font-weight: 500;
  margin-top: 12px;
  margin-right: 12px;
  padding: 2px 8px;
  border-radius: 16px;
}

#skills{
  width:calc(100vw - 96px);
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(96px, 1fr)); 
}

.skills-container > *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  width: 96px;  
}

svg{
  fill: var(--font-color);
  width: var(--font-l);
}

#MySQL > svg{
  width: 60px;
}

.contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.written-contact{
  display: flex;
  flex-direction: column;
}

.contact-links{
  display: flex;
  font-size: var(--font-l);
  a{
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: 4px;
  }
  a:hover{
    color: var(--accent-color);
  }
}

.contact-links > a:first-child {
  padding-left: unset;
  margin-left: unset;
}

footer{
  margin: 12px;
  margin-top: 48px;
}

@media only screen and (max-width: 720px) {
  body{
    margin: unset;   
  }

  .navlinks{
    display: none;
  }

  .navlinks_mobile{
    display: flex;
  }  
  
  .navLinks-container > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
  }

  .navlinks_mobile:hover{
    .navLinks-container{
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: end;
      background-color: var(--background);
      padding: 8px;
      a:hover{
        color: var(--accent-color);
      }
    }
  }

  .navLinks-container{
    display: none;
  }

  .section{
    min-width: unset;
    min-height: fit-content;
  }

  #home{
    height: 100vh;
  }

  .project{
    flex-direction: column;
    align-items: center;
  }

  .project-image{
    margin-bottom: 24px;
  }

  .contact-container{
    align-items: end; 
  }
}