html {
  box-sizing: border-box;  
  scroll-behavior: smooth;
}

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { 
  box-sizing: inherit;
}

:root {
  --main-color: #028ec9;
  --translucent-color: #CEF2FEcc;
  --tech-color: #42F577;
  --tech-background-color: #42F57744;
  --hover: #ffffff11;
  --background: #252525;
  --font-xxs: .8em;
  --font-xs: 1em;
  --font-s: 1.3em;
  --font-m: 1.6em;
  --font-l: 2em;
  --font-xl: 3em;
  --font:"Rubik", sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--background);

  background-image: radial-gradient(farthest-corner at 40px 40px, var(--main-color) -70%, var(--background) 70%);
  /* height: 100vh; */
  /* height: 90vh; */
  margin: 0 24px;
  color: var(--translucent-color);
  font-family: var(--font);
  line-height: 1.5;
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: var(--translucent-color) var(--background);   /* scroll thumb and track */ 
}

.hidden {
  opacity:0;
}

.italic{
  font-style: italic;
}

.console-container {
  font-size:var(--font-s);
  display:block;
  color:white;
  /* margin:auto; */
}

.console-underscore {
  display: inline-block;
  position: relative; 
  left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--translucent-color);
  border-radius: 8px;
}

a{
  text-decoration: none;
  color: var(--main-color);
}

.page-up{
  position: fixed;
  right: 20px;
  bottom: 20px;
  i{
    font-size: var(--font-l);
    color: var(--tech-background-color);
  }
}

@keyframes up-move{
  100%{
    transform-origin: right;
    transform: translateY(-20px);
  }
}

.page-up:hover{
  animation: up-move 1s ease forwards;
  i{
    color: var(--translucent-color);
  }
}

#navBar{  
  position: fixed;
  right: 0;
  display: flex;
  background-color: var(--background);
  width: 100vw;
  justify-content: right;
  padding: 16px;
  font-weight: 600;
  z-index:99;
  a{
    padding-left: 48px;
  }
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 24px;
  padding-bottom: 48px;
  max-width: 1280px;

}

.section-title{
  font-size: var(--font-s);
  font-family: "sarala", sans-serif;
  font-weight: 600;
  padding-bottom: 24px;
}

#home{
  align-items: center;
  flex-direction: column;
}

.intro{
  font-size: var(--font-xl);
}

#about-me{  
  font-size: var(--font-s);
  .content{
    display:flex;
    align-items: center;
  }
}

.image-container{
  display: flex;
  margin: 16px;
  max-width: 400px;
  max-height: 400px;    
  border-radius: 50%;
  overflow-y: hidden;
}

.me{
  display: flex;
  align-items: center;
  width: 100%;
}

.project-image{
  width: 150px;
  height: 150px;
  margin-right: 16px;  
  border-radius: 50%;
}

.project{
  display: flex;
  margin-bottom: 40px;   
  padding: 16px;
  border-radius: 8px;
  i{
    font-size: var(--font-xs);
  }
}

.project:hover{

  .project-title> a{
    color: var(--tech-color);
  }
  .project-title> a:hover{
    color: var(--translucent-color);  
  }
  .cred{    
    color: var(--tech-color);  
  }
}

.project-title{
  font-size: var(--font-m);
  font-weight: 500;
  a{    
    color: var(--translucent-color);
  }
}

.cred-container>span{
  /* color: var(--main-color); */
  font-weight: 600;
}

.tech-stack{
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-xs);
}

.tech-stack > span{
  background-color: var(--tech-background-color);
  font-weight: 500;
  color: var(--tech-color);
  margin-top: 12px;
  margin-right: 12px;
  padding: 2px 8px;
  border-radius: 16px;
}

#skills{
  min-height: 50vh;
  width:calc(100vw - 96px);
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); 
  /* display: flex;
  flex-wrap: wrap;
  width: 75%; */
}

.skills-container > *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  width: 80px;  
  i{
    font-size: var(--font-l);
  }
}

svg{
  fill: var(--translucent-color);
  width: var(--font-l);
}

#MySQL > svg{
  width: 60px;
}

#contact{
  width:calc(100vw - 96px);
}

.contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.written-contact{
  display: flex;
  flex-direction: column;
}

.contact-links{
  i{
    font-size: var(--font-m);
    color: var(--background);
    background-color: var(--main-color);
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 50%;
    margin: 4px;
  }
}

.email-form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.email-form > label{
  margin-bottom: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  input, textarea{
    height: 24px;
    width: 85%;
    padding: 6px;
  }
  textarea{
    height: 200px;
    padding: 6px;
  }
}

footer{
  margin: 12px;
}

@media only screen and (max-width: 720px) {
  body{
    margin: unset;
  }

  #navBar{
    justify-content: space-around;
    padding: 16px 0;
    font-size: var(--font-xxs);
    a{
      padding: 0;
    }
  }

  .section{
    min-width: unset;
    font-size: var(--font-xxs);
  }

  .intro{
    font-size: var(--font-xl);
    text-align: center;
  }

  .content{
    flex-direction: column-reverse;
  }

  .project{
    flex-direction: column;
    align-items: center;
    padding: unset;
  }

  .project-image{
    margin-right: 0;
    margin-bottom: 24px;
  }

  .project-content{
    font-size: var(--font-s);
  }

  .contact-links{
    display: flex;
    justify-content: space-between;
  }

  #skills{  
    width:calc(100vw - 48px);
  }

  #contact{  
    width:calc(100vw - 48px);
  }

  .contact-container{
    /* flex-direction: column-reverse; */
    align-items: end; 
    font-size: var(--font-s);
  }

  /* .written-contact{
    margin-left: auto;
    width: fit-content;
    text-align: right;
  } */

  .email-form{
    width: unset;
  }
}